.OrderItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.OrderItem p {
    width: 2rem;
    font-size: .7rem;
}

.OrderItem .orderImage {
    flex-grow: 1;
}

.OrderItem .orderDetails {
    display: flex;
    flex-grow: 10;
    justify-content: space-between;
}