.cartView article.OrderItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
}

article.OrderItem p {
    width: 2rem;
    font-size: .7rem;
}

article .orderDetails {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}